
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <div class="row" id="shop-header">
          <div class="col-12">
            <img id="logo-header" src="/images/bike-logo.svg" alt="image-background">
            <span class="text-header"> The Bike Shop Experience</span>
            <% if(isLogged == false){%>
            <a href="/loggin" class="btn btn-outline-info">Loggin</a>
            <%} else {%>
                <a href="/logginout" class="btn btn-outline-info">Loggin Out</a>
                <%}%>   
          </div>
        </div>
        <div class="row" id="shop-background"></div>
      
      <div class="row">
      <% for(var i=0; i < bikes.length; i++){%>  
        <div class="col-12 col-sm-6 col-md-4 card-bike">
            <div class=" card text-center ">
                <img src="<%= bikes[i].url%>" alt="bike" class="image-card">
                <div class="card-body">
                  <h5 class="title-card"><%= bikes[i].name %></h5>
                  <span><%= bikes[i].price%>€</span>
                    <form action="/shop" method="POST">
                        <input type="hidden" name="name" value="<%= bikes[i].name%>" >
                        <input type="hidden" name="url" value="<%= bikes[i].url%>">
                        <input type="hidden" name="price" value="<%= bikes[i].price%>">
                        <input type="hidden" name="quantity" value="1">

                        <% if (isLogged == true ){%>
                        <button class="btn btn-outline-info" name="button">Buy</button>
                    </form>
                  <%} else { %>
                      <p>connectez vous svp </p>
                  <% } %>
                </div>  
          </div> 
        </div>

      <% } %>  

       

        

        

        
  </div>  
</body>
</html>